body {
    margin: 0;
}

.flexible {
    display: flex;
    margin-bottom: 150px;

}

.orange {
    color: chartreuse;
    font-size: 40px;
}

.width-half {
    width: 50%;
    margin-left: 10%;
}

.width-half img {
    width: 60%;
}

.link-button {
    background-image: linear-gradient(orange, tomato);
    background-repeat: no-repeat;
    color: white;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    text-decoration: none;
}

.link-button:hover {
    background-image: linear-gradient(green, yellow);
}

.experince-item {
    width: 40%;
    box-shadow: 10px 10px 40px yellowgreen;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
}

.experince-item img {
    width: 100%;
    height: 60%;
}

.center {
    text-align: center;
    font-size: 50px;
    color: darkorchid;
}